{% extends 'base/base.html' %}

{% block bloque_titulo %}
    Nuevo empleado
{% endblock bloque_titulo %}

{% block bloque_nav_items %}
    <li class="nav-item"><a class="nav-link" href={% url 'ver-empleados' %}>Empleados</a></li>
    <li class="nav-item"><a class="nav-link active" href={% url 'crear-empleado' %}><i class="bi bi-person-plus"></i> Nuevo empleado</a></li>
    <li class="nav-item"><a class="nav-link" href={% url 'buscar-empleados' %}><i class="bi bi-search"></i> Buscar empleados</a></li>
{% endblock bloque_nav_items %}

{% block bloque_h1_header %}
    Agregar empleado
{% endblock bloque_h1_header %}

{% block bloque_contenido %}
    <section class="bg-light">
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                <table class="col-md-5">
                    {{ formulario_empleado.as_table }}
                </table>
                <button class="btn btn-outline-secondary">Guardar</button>
            </form>
        </div>
    </section>
{% endblock bloque_contenido %}
