{% extends 'base/base.html' %}
{% load static %}

{% block bloque_titulo %}
    Sobre nosotros
{% endblock bloque_titulo %}

{% block bloque_nav_items %}
    <li class="nav-item"><a class="nav-link active" href={% url 'about' %}>Sobre nosotros</a></li>
    <li class="nav-item"><a class="nav-link" href={% url 'ver-empleados' %}>Empleados</a></li>
{% endblock bloque_nav_items %}

{% block bloque_p_header %}
<section class="testimonials text-center bg-light">
    
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src= {% static 'assets/img/lopez.jpg' %} alt="..." />
                    <h5>Germán López</h5>
                    <p class="font-weight-light mb-0"><b>"Tengo 31 años, soy programador COBOL y PL/SQL. Mi correo electrónico es <a href="mailto:germanlopezgdl@gmail.com">germanlopezgdl@gmail.com</a> "</b></p>
                </div>
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src= {% static 'assets/img/grupico.jpg' %} alt="..." />
                    <h5>Germán Grupico</h5>
                    <p class="font-weight-light mb-0"><b>"Tengo 30 años, soy estudiante de html/css y Python. Mi correo electrónico es <a href="mailto:grupicogerman@gmail.com">grupicogerman@gmail.com</a></b> "</p>
                </div>
                <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                    <img class="img-fluid rounded-circle mb-3" src={% static 'assets/img/barile.jpg' %} alt="..." />
                    <h5>Guillermo Barile</h5>
                    <p class="font-weight-light mb-0"><b>"Tengo 53 años, trabajo en tecnologia y volvi a retomar desarrollo despues de muchos años. Mi correo electrónico es <a href="mailto:gbarile@gmail.com">gbarile@gmail.com</a> "</b></p>
                </div>
            
     
      
</section>
{% endblock bloque_p_header %}
    
